.calculator {
   
    width: 400px;
    height: 550px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;

    
    background-color: gray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
    border-radius: 10px;
    

   
}

.display {

    width: 380px;
    height: 100px;
    background-color: #e6e6e6;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: right;
    font-size: 40px;
    font-weight: 400;
    margin-top: 5px;
    padding-right: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.buttons {

    width: 390px;
    height: 360px;
    display: flex;
    align-self: flex-end;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;

}








h1 {

    font-size: 50px;
    color:black;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;


}
/* 
.container {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    font-weight: 400;

} */

button{

  height: 64px;
  width: 85px;
  box-sizing: border-box;
  border: 2px solid black;
  padding: 2px;
  background-color:rgb(219, 219, 219);
  text-align: center;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
  margin: 0px;
}